[Desktop Entry]
Name=Postman
Exec=/home/alexishevia/.Postman/Postman
Icon=/home/alexishevia/.Postman/app/resources/app/assets/icon.png
Type=Application
Categories=GTK;GNOME;Utility;
