[Desktop Entry]
Name=Hotlist
Exec=/home/alexishevia/bin/hotlist
Icon=/usr/share/icons/LoginIcons/apps/24/preferences-desktop-locale.svg
Type=Application
Categories=GTK;GNOME;Internet;
