[Desktop Entry]
Name=Hotlist
Exec=/home/alexishevia/bin/hotlist
Icon=/usr/share/icons/hicolor/48x48/apps/google-chrome.png
Type=Application
Categories=GTK;GNOME;Internet;
