[Desktop Entry]
Name=React Native Debugger
GenericName=React Native Debugger
X-GNOME-FullName=React Native Debugger
Comment=The standalone app based on official debugger of React Native, and includes React Inspector / Redux DevTools
Exec=react-native-debugger %U
Terminal=false
Icon=/usr/share/icons/react-native.png
Type=Application
TryExec=/usr/local/bin/react-native-debugger
