[Desktop Entry]
Name=Next Spotify Song
Exec=sp next
Icon=/usr/share/icons/HighContrast/48x48/actions/media-skip-forward.png
Terminal=false
Type=Application
Categories=Utilities;
